
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html{
    overflow-x: hidden;
}


body{
    background-color: #fff;
    font-family: 'Karma', serif;
    overflow-x: hidden;
    position: relative;


}


nav ul{
    z-index:1000;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}
.custom-nav.active{
    opacity: 1;
    color:#fff;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}




.custom-nav{
    background-color: #fdf9f3!important;
    opacity: .8;

}

.custom-nav ul li a, .custom-nav ul li p{
    line-height: 50px!important;
    color: #000!important;
    font-size: 16px!important;

}



/*////////CSS helpers classes*/




/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}


.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

.m-r-40{
    margin-right: 40px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/




/*////Fonts////*/





.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-24{
    font-size: 24px!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}




/*///ends here///*/









/*////Borders////*/

.border{
    border: 1px solid #eee!important;
}


.border-bottom{
    border-bottom: 1px solid #eee!important;
}


.border-top{
    border-top: 1px solid #eee!important;
}


/*//////ens here/////*/




.img-section{
    background: url("../img/cover-bg.jpg") no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 620px;
    background-size: cover;
    background-position: 80% 20%;
}


.meet-our-team-bg {
    background: linear-gradient(rgba(253, 253, 253, 0.47), rgba(255, 255, 255, 0.72)),url("../img/About-us.jpg") no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start; /*sanchit */

}

.team-box{
    width: 320px;
    height: 320px;
    text-align: center;
    background-color: #a99072;
    border-radius: 50%;
    display: table;
    margin-left: 130px;
    padding: 29px;  /* sanchit */
}


.team-txt{
    display: table-cell;
    vertical-align: middle;
    color: #fff;

}

.team-txt h1:nth-child(2){
    line-height: 40px;
}



.team-txt p{
    margin-top: 20px;
    font-size: 18px !important;
    letter-spacing: .2px;
}

.black-strip{
    background: #a99072;
    text-align: -webkit-center;
    padding: 10px;
    color: #fff;
}


#about-section{
    text-align: center;
    font-size: 18px;

}

#about-section .container {
    padding: 120px 200px;
}




#team-section{
/*    margin: 50px 0;*/
    text-align: center;
}


#work-section-sort .container{
    padding: 20px 100px;
}


#fun-facts-section .container {
    padding: 60px 80px ;

}

#fun-facts-section .container p{
    line-height: 40px!important;
/*    text-transform: uppercase;*/

}



.f-input-group{
    width: 100%!important;
    margin: 20px auto!important;
    position: relative!important;
}

.float-input{
    border: none!important;
    border-bottom: 1px solid #999!important;
    font-size: 16px!important;
    width: 100%!important;
    padding: 10px!important;
    background-color: transparent;
}


.float-input:focus{
    outline: none!important;
}


.float-label{
    color: #aaa!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    opacity: 0!important;
    visibility: hidden!important;
    transition: all .5s!important;


}


.label-top{
    visibility: visible!important;
    opacity: 1!important;
    top: -20px!important;
}



.f-input-group > input#Message {
    height: 100px!important;

}


.social-icon{
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0;
}

.social-icon li{
    display: inline-block;
    margin-right: 15px;
}



.social-icon li a{
    color: #58595b;
}

.input-filed {
    width: 95%!important;
    padding: 10px 18px;

}

.input-btn {
    margin-left: -30px!important;
    width: 50px!important;
    border: 0!important;
    -webkit-appearance: none!important;
    font-size: 22px;
}

.count{
    font-size: 40px;
}


.counter-icon{
    border: 1px solid #999;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 0;
    text-align: center;
}

.fun-box{
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 120px;
    height: 120px;
    padding: 20px;
    display: table;
    margin: 0 auto;

}

.fun-box i{
    display: table-cell;
    vertical-align: middle;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    filter: invert(100%);
    transition: all .4s;
}

.fun-box i:hover{
    display: table-cell;
    vertical-align: middle;
    -webkit-filter: invert(0%);
    -moz-filter: invert(0%);
    filter: invert(0%);
}

.fun-box:hover{
    border: 1px solid #000;
    transition: all .4s;

}




.fun-box p{
    text-transform: uppercase;
}


.service-box{
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    width: 120px;
    height: 120px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




#comment-section .container-fluid{
    padding: 30px;
}


.join-us-bg{
    background: linear-gradient(rgba(253, 253, 253, 0.47), rgba(255, 255, 255, 0.72)),url("../img/Careers.jpg") no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 380px;
    background-size: cover;
    background-position: 50% 50%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
}


.join-us-bg h3{
    color: #000;
    padding: 10px 403px;
}




.button {
    padding: 10px 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    color: #222;
    font-size: 16px;
    cursor: pointer;
}


.button:active,
.button.is-checked {
    padding: 10px!important;
    border: 1px solid #999;
    border-radius: 35px !Important;
}



/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    margin-left: 0;
    margin-right: 1px;
    font-size: 20px;
    font-weight: 800;
}


/* ---- isotope ---- */


/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    margin: 5px;
    padding: 10px;
    color: #262524;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}


.button{
    background-color: transparent!important;
    color: #000!important;
    border: 1px solid transparent;
    padding: 10px!important;
}

.button{
    outline: none;
}


.button:hover{
    background-color: transparent!important;
    color: #000!important;
    border-radius: 35px;
    padding: 10px!important;
    border: 1px solid #999;
}


.job-btn{
    width: 250px;
    height: 60px;
    background: #a99072;
    font-size: 18px;
    color: #fff;
    border: none;
}

#footer-section{
    background-color: #a99072;
    /*padding: 60px 0;*/
}


.footer-links {
    padding-left: 0;
}


.footer-links li{
    list-style-type: none;
    margin-top: 5px;
    color: #58595b;

}

.footer-links li a{
    color: #58595b;

}


@media screen and (max-width: 768px){
    #work-section-sort .container{
        padding: 10px;
    }


    #fun-facts-section .container {
        padding: 10px;

    }

    #about-section .container {
        padding: 10px;
    }


    #team-section-sort .container p{
        font-size: 16px!important;
    }


    #fun-facts-section .container p{
        font-size: 16px!important;


    }

    #about-section .container p{
        font-size: 16px!important;

    }

    h1{
        font-size: 20px;
    }

    #fun-facts-section .container {
        padding: 10px;

    }

    #services .container p{
        padding: 10px!important;
    }

    #Event-calendar .container{
        padding: 10px!important;
    }

    .join-us-bg h3{
        padding: 10px!important;
    }

    .other-half-footer{
        padding: 10px!important;
    }

    .team-box{
        padding: 10px;
        line-height: 35px;
        margin: auto;
    }

    .custom-nav .navbar-collapse{
        opacity: 1;
        background: rgb(248, 239, 230);
    }

    .custom-nav{
        height: 80px;

    }

    .email{
        float: none!important;
    }

    .email p{
        float: none!important;
    }

    .address-phone{
        float: none!important;

    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        margin-top: 80px!important;
    }

}



.event-title-bg{
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

#Event-calendar{
    background-color: #a99072;
    color: #fff;
    padding-bottom: 40px;
}

#Event-calendar .container{
    padding: 20px 200px;
}

#contact-section{
    background-color: #fefefe;
}




#footer-section .col-md-3:first-child{
    background-color: #fefefe;
    height: 313px;

}

#footer-section .col-md-3:first-child img{
    margin-top: 125px;

}


#team-section figure figcaption{
    transform: rotate(-36deg);
    margin-top: 35px!important;

}


.other-half-footer{
    padding: 60px;
}


#services .container p{
    padding: 10px 200px;
    line-height: 40px
}

.black-c{
    color: #000;
}

.text-uc{
    text-transform: uppercase;
}



.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0,0, .11) url(../img/cd-top-arrow1.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 0;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 0;
        bottom: 30px;
    }
}




.carousel-caption{
    left: 57%!important;
    padding-bottom: 0px!important;
    top: 28%!important;
    font-size: 30px!important;
    right: 50px;
    text-align: right;
}


.scrolloff {
        pointer-events: none;
    }

.fa-arrow-right:before{
    color: #58595b;
    vertical-align: middle;
}

.team-member:hover{
    transform: scale(1.1);
    transition: all .3s ease-out;
    cursor: pointer;

}


.team-member:hover img{
    border: 3px solid  rgba(153, 153, 153, 0.41);
    transition: all .3s ease-out;


}


.service-box:hover ~ .service-box{
    color: #00004a;
    font-size: 30px;
}




.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    text-decoration: underline;
    color: #008000 !important;
    font-size: 18px !important;
    text-shadow: .20px .20px .15px #337ab7;
    background: transparent;
}

.popup-gallery a{
    outline: none!important;
    outline-offset: 0!important;
}













