


html{
    overflow-x: hidden;

}


@font-face{
    font-family: JosefinSans-Bold;
    src: url(../josefin_sans/JosefinSans-Bold.ttf);

}


@font-face{
    font-family: JosefinSans-Regular;
    src: url(../josefin_sans/JosefinSans-Regular.ttf);

}

@font-face{
    font-family: JosefinSans-Thin;
    src: url(../josefin_sans/JosefinSans-Thin.ttf);

}


html ,body{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body{
    background-color: #fff;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: auto;

}

img{
    image-rendering: auto;
    /*image-rendering: crisp-edges;*/
    /*image-rendering: pixelated;*/
}



nav ul{
    z-index:1000;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}
.custom-nav.active{
    opacity: 1;
    color:#fff;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}




.custom-nav{
    background-color: #ffffff!important;
    opacity: .8;

}

.custom-nav ul li a, .custom-nav ul li p{
    line-height: 50px!important;
    color: #000!important;
    font-size: 16px!important;

}

.custom-nav ul li a::first-letter{
    color: #f73009 !important;
}

.h-logo{
    width: 200px;
}



/*////////CSS helpers classes*/




/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}

.m-t-5{
    margin-top: 5px!important;
}

.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

.m-r-20{
    margin-right: 20px!important;
}


.m-r-40{
    margin-right: 40px!important;
}

.m-30{
    margin: 30px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}

.p-20{
    padding: 20px!important;
}

.p-30{
    padding: 30px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/




/*////Fonts////*/


.f-12{
    font-size: 12px!important;
}


.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}

.f-29{
    font-size: 29px!important;
}


.w-100{
    font-weight: 100!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}







/*///ends here///*/









/*////Borders////*/

.border-0{
    border: none!important;
}

.border{
    border: 1px solid #eee!important;
}


.border-bottom{
    border-bottom: 1px solid #eee!important;
}


.border-top{
    border-top: 1px solid #eee!important;
}


/*//////ens here/////*/



#platform-section{
    padding-top: 80px;
}



#about-section{
    text-align: center;
    font-size: 18px;
    background: #bbe7d8 url('../img/About-us.jpg') center no-repeat;
    background-size: cover;
    height: 700px;
    image-rendering: auto;
    image-rendering: crisp-edges;

}




#about-section .container-fluid{
    padding: 120px 0;

}


.about-us-text p{
    padding: 25px 19px;
    word-spacing: 5px;
    line-height: 30px;

}



#team-section{
    background: url('../img/team-page.jpg');
    width: 100%;
    background-size: cover;
    text-align: center;
}

#team-section .container{
    padding: 10px 100px;
}


#work-section-sort .container:first-child{
    padding: 100px 60px 0
}


#work-section-sort .container:last-child{
    padding: 30px 200px;

}


#work-section-sort .container:last-child .popup-gallery .item img{
    border: 10px solid #dfdfdf;

}


#process{
    z-index: 0;
    background: rgba(17, 17, 17, 0.1);
    height: 630px!important;
    padding: 0!important;

}

#process::before{
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    background: url('../img/fun-facts-section.jpg')!important;
    width: 100%;
    background-size: cover!important;
    background-position: 100%;
    height: 630px;
    image-rendering: auto;
    image-rendering: crisp-edges;

}





#process .fun-txt{
    width: 660px;
    padding: 0;
    margin-top: 140px;
    margin-left: 170px;
}





.f-input-group{
    width: 100%!important;
    margin: 20px auto!important;
    position: relative!important;
}

.float-input{
    border: none!important;
    border-bottom: 1px solid #999!important;
    font-size: 16px!important;
    width: 100%!important;
    padding: 10px!important;
    background-color: transparent;
}


.float-input:focus{
    outline: none!important;
}


.float-label{
    color: #565a5c!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    opacity: 0!important;
    visibility: hidden!important;
    transition: all .5s!important;


}


.label-top{
    visibility: visible!important;
    opacity: 1!important;
    top: -20px!important;
}



.f-input-group > input#Message {
    height: 100px!important;

}



/*///////////////// Social icons //////////////*/


.social-icon{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

.social-icon li{
    display: inline-block;
    margin-right: 5px;
}



.social-icon li a{
    color: #58595b;
    transition: all .2s ease-out;
}




.social-icon li a .f{
    color: #3b5998;
    transition: all .2s ease-out;
}

.social-icon li a .t{
    color: #00aced;
    transition: all .2s ease-out;

}


.social-icon li a .l{
    color: #007bb6;
    transition: all .2s ease-out;

}

.social-icon li a .i{
    color: #e1306c;
    transition: all .2s ease-out;

}

.social-icon li a .y{
    color: #cd201f;
    transition: all .2s ease-out;

}

.social-icon li a .g{
    color: #dd4b39;
    transition: all .2s ease-out;

}

.social-icon li a .p{
    color: #bd081c;
    transition: all .2s ease-out;

}





.social-icon li a .f:hover{
    /*color: #565a5c;*/
    transition: all .2s ease-out;
}

.social-icon li a .t:hover{
    color: #00aced;
    transition: all .2s ease-out;

}


.social-icon li a .l:hover{
    color: #007bb6;
    transition: all .2s ease-out;

}

.social-icon li a .i:hover{
    color: #c13584;
    transition: all .2s ease-out;

}

.social-icon li a .r:hover{
    color: #f26522;
    transition: all .2s ease-out;

}

.social-icon li a .g:hover{
    color: #dd4b39;
    transition: all .2s ease-out;

}




/*//////////////////////////////// Ends here///////////////////////////*/


.input-filed {
    width: 70%!important;
    padding: 10px 18px;

}

.input-btn {
    margin-left: -30px!important;
    width: 50px!important;
    border: 0!important;
    -webkit-appearance: none!important;
    font-size: 22px;
}

.count{
    font-size: 30px;
    text-align: center;
    color: #c01f25;
    font-family: JosefinSans-Regular , sans-serif;
}



.count p{
    text-transform: uppercase;
    font-family: JosefinSans-Regular ,sans-serif;
    font-size: 11px;
}


.service-box{
    text-align: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-out;
}

.service-box:hover{
    transform: scale(1.3) rotateY(180deg);


}




#comment-section .container-fluid{
    padding: 30px;
}


.join-us-bg{
    background: url("../img/join-us-bg.jpg") no-repeat;
    width: 100%;
    height: 380px;
    background-attachment: fixed;
    background-size: inherit;
    background-position-x: 100%;
    background-position-y: 100%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
         justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
        align-items: center;
    background-origin: inherit;
    image-rendering: auto;
    image-rendering: crisp-edges;
    box-sizing: border-box;
}


.join-us-bg h3{
    padding: 10px 403px;
}






.job-btn{
    width: 250px;
    height: 60px;
    background:  transparent;
    font-size: 18px;
    color: #565a5c;
    border: 2px solid #a99072;
    transition: all .4s ease-out;

}

.job-btn:hover{
    background-color: #a99072;
    color: #fff;
}

.job-btn:focus{
    border: none;
}


#footer-section{
    background: url('../img/footer-bg.jpg');
    width: 100%;
    background-size: cover;
    height: 338px;
    image-rendering: auto;
    image-rendering: crisp-edges;
}

#footer-section .container-fluid{
    padding: 100px 10px 0;
}


.footer-links {
    padding-left: 0;
}


.footer-links li{
    list-style-type: none;
    margin-top: 5px;

}

.footer-links li a{
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-out;

}

.footer-links li a:hover{
    color: #ddd;

}





.event-title-bg{
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

#Event-calendar{
    background: url('../img/event.jpg');
    background-size: cover;
    width: 100%;
    height: 570px;
    color: #fff;
    padding-bottom: 40px;
    image-rendering: auto;
    image-rendering: crisp-edges;
}



#Event-calendar .container{
    padding: 100px;
}


#Event-calendar .container .row  .col-md-6 .row .col-md-12{
    padding: 0;
    border-bottom: 2px solid #7f3219;
    color: #565a5c;
}

#Event-calendar .container .col-md-12{
    border: none;

}

#contact-section{
    /*background: url('../img/contact-us-bg.jpg');*/
    width: 100%;
    background-size: cover;
    /*height: 700px;*/
    image-rendering: auto;
    image-rendering: crisp-edges;
    background: #f9f8f6;
}




#footer-section .col-md-3:first-child{
    background-color: #fefefe;
    height: 313px;

}

#footer-section .col-md-3:first-child img{
    margin-top: 125px;

}


#team-section figure figcaption{
    transform: rotate(-36deg);
    margin-top: 35px!important;

}


.other-half-footer{
    padding: 60px;
}

#services{
    background: #ded4df url('../img/services.jpg') no-repeat center;
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
}


#services .container .row:last-child{
    margin-top: 90px;
}



#services .container p{
    line-height: 40px;
    word-spacing: 1px;
    padding-right: 100px;
    padding-top: 20px;
}



#work-section-sort{
    background: url('../img/work-section-sort.jpg') no-repeat center;
    width: 100%;
    background-size: cover;
    background-position: 100%;
    height: 666px;
    image-rendering: auto;
    image-rendering: crisp-edges;
}



.black-c{
    color: #000;
}

.text-uc{
    text-transform: uppercase;
}



#work-section-sort h1{
    padding: 0 200px;
    font-size: 45px;

}


#work-section-sort p{
    padding: 0 25%;

}


#map_canvas1{
    border-top: 10px solid #cbe7d3;
    border-bottom: 10px solid #cbe7d3;

}




.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0,0, .11) url(../img/cd-top-arrow1.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 0;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 0;
        bottom: 30px;
    }
}



.scrolloff {
    pointer-events: none;
}

.fa-arrow-right:before{
    color: #58595b;
    vertical-align: middle;
}

.team-member:hover{
    transform: scale(1.1);
    transition: all .3s ease-out;
    cursor: pointer;
}

/*.team-member-lead :hover{*/
    /*transform: scale(1.4);*/
    /*transition: all .3s ease-out;*/
    /*cursor: pointer;*/
/*}*/








.team-member:hover img{
    border: 3px solid  rgba(153, 153, 153, 0.41);
    transition: all .3s ease-out;
}


.service-box:hover .service-box{
    color: #00004a;
    font-size: 30px;
}




.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #901518 !important;
    font-size: 18px !important;
    background: beige;

}

.popup-gallery a{
    outline: none!important;
    outline-offset: 0!important;
}




#testi-section p{
    margin-bottom: 0!important;
}



#testi-section{
    background: url('../img/testimonial.jpg') no-repeat;
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges;
}


#testi-section .carousel{
    margin-top: 250px;
}


#testi-section .container{
    padding: 50px 50px 0 50px;
    color: #565a5c;
}

.testi-comment{
    height: 165px;
    overflow: hidden;
}


.testi-comment img{
    border: 2px solid #fff;
}


.carousel-indicators li{
    background-color: #fb6b6a;
}

.carousel-indicators .active{
    background-color: #eee;
}


@media screen and (min-width: 768px) {
    .slider-indiactor {
        bottom: -50px;
        margin-bottom: 0;
    }
}


@media screen and (min-width: 768px)  {
    .carousel-caption{
        left: 57%!important;
        padding-bottom: 0!important;
        top: 28%!important;
        font-size: 30px!important;
        right: 50px;
        text-align: right;
    }

    .owl-item{
        width: 100%!important;
    }

}



/*///////////////////////////////////////////Owl Starts here///////////////////////////////*/



#owl-demo .item{
    display: block;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.owl-theme .owl-controls .owl-buttons img {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i{
    margin-top: 2px;
}


.owl-theme .owl-controls .owl-buttons img {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -69px;
    top: 114px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -69px;
    top: 114px;
}

.owl-theme .owl-controls .owl-buttons div{
    position: absolute;
}


.owl-theme .owl-controls .owl-buttons div{
    padding: 10px 20px;
    background: #a9a6c0;
}



/*.owl-item{*/
    /*width: 260px!important;*/
/*}*/


/*//////////////////////////////////////////Owl ends here////////////////////////////////////////*/





/*/////////////////////////////////////////Loader start here/////////////////////////////////////*/


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

h1 {
    color: #EEEEEE;
}


/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}


.loaded #loader {
    opacity: 0;
}


.loaded #loader-wrapper {
    visibility: hidden;
}


.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}



.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}


.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #777b9d;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #a99072;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



/*///////////////////////////////////////////////Ends here////////////////////////////////////////*/





/*//////////////////////////////////////Navbar shrink on scroll///////////////////////////////////*/

nav.navbar.shrink .navbar-brand {
    font-size: 25px;
}
nav.navbar.shrink a {
    line-height: 20px!important;
    transition: all .4s ease;
}
nav.navbar.shrink .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}


/*/////////////////////////////////////////Ends here//////////////////////////////////////////////*/




.title{
    font-family: JosefinSans-Regular , sans-serif;
    font-size: 36px;
}

h2{
    font-family: JosefinSans-Regular , sans-serif;

}

.JosefinSans-Regular{
    font-family: JosefinSans-Regular , 'PT Sans' ,sans-serif;
}

.copyright-section{
    padding: 10px;
}


.copyright-section a{
    color: #7a7879;
}

.copyright-section p a{
    margin: 0 5px;
}


.brand-c{
    color: #c01f25;
}







/*/////////////////////////////////////////Media Query///////////////////////////////////////*/



/*@media screen and (max-width: 768px){*/
    /*#work-section-sort .container{*/
        /*padding: 10px;*/
    /*}*/

    /*#about-section ,#testi-section,.join-us-bg ,#Event-calendar,#contact-section ,#work-section-sort{*/
        /*height: 100%!important;*/
        /*padding: 10px!important;*/
    /*}*/




    /*#process .container {*/
        /*padding: 10px;*/

    /*}*/

    /*#about-section .container {*/
        /*padding: 10px;*/
    /*}*/


    /*#team-section-sort .container p{*/
        /*font-size: 16px!important;*/
    /*}*/


    /*#process .container p{*/
        /*font-size: 14px!important;*/
        /*color: #fff!important;*/

    /*}*/



    /*#about-section .container p{*/
        /*font-size: 16px!important;*/

    /*}*/


    /*#process .container {*/
        /*padding: 10px;*/

    /*}*/

    /*#services .container p{*/
        /*padding: 0;*/
    /*}*/

    /*#Event-calendar .container{*/
        /*padding: 10px!important;*/
    /*}*/

    /*.join-us-bg h3{*/
        /*padding: 10px!important;*/
    /*}*/

    /*.other-half-footer{*/
        /*padding: 10px!important;*/
    /*}*/

    /*.team-box{*/
        /*padding: 10px;*/
        /*line-height: 35px;*/
        /*margin: auto;*/
    /*}*/

    /*.custom-nav .navbar-collapse{*/
        /*opacity: 1;*/
        /*background-color: #fdf9f3;*/
    /*}*/


    /*.email{*/
        /*float: none!important;*/
    /*}*/

    /*.email p{*/
        /*float: none!important;*/
        /*text-align: left;*/
    /*}*/

    /*.address-phone{*/
        /*float: none!important;*/

    /*}*/

    /*.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img{*/
        /*margin-top: 50px!important;*/
    /*}*/

    /*.testi-comment{*/
        /*height: 100%*/
    /*}*/


    /*#testi-section .container{*/
        /*padding: 10px!important;*/
    /*}*/

    /*.team-txt p{*/
        /*margin-top: 20px;*/
        /*font-size: 15px !important;*/
    /*}*/

    /*#services{*/
        /*height: 100%!important;*/
        /*!*background: none;*!*/
    /*}*/

    /*.about-us-text img{*/
        /*margin: 0!important;*/
        /*width: 250px;*/
    /*}*/

    /*.about-us-text h3{*/
        /*text-align: center!important;*/
        /*font-size: 20px;*/
        /*margin-right: 0!important;*/
        /*line-height: 1.6em;*/
    /*}*/

    /*#about-section{*/
        /*text-align: center!important;*/
    /*}*/

    /*#about-section .container-fluid{*/
        /*padding: 10px!important;*/
    /*}*/

    /*.about-us-text .col-md-6{*/
        /*text-align: center!important;*/
    /*}*/

    /*#team-section .container{*/
        /*padding: 10px!important;*/
    /*}*/



    /*#services .container h1 {*/
        /*line-height: 40px;*/
        /*color: #fff;*/
    /*}*/



    /*#process .fun-txt {*/
        /*width: 100%;*/
        /*margin-top: 0;*/
        /*margin-left: 0;*/
    /*}*/

    /*.copyright{*/
        /*text-align: center;*/
    /*}*/

    /*#footer-section .col-md-4{*/
        /*text-align: center;*/
        /*margin: 20px 0;*/
    /*}*/

    /*#footer-section .container-fluid{*/
        /*padding: 10px;*/
    /*}*/

    /*#testi-section{*/
        /*background: none!important;*/

    /*}*/
    /*#testi-section .carousel{*/
        /*margin-top: 0!important;*/
        /*margin-bottom: 40px!important;*/
    /*}*/



    /*#work-section-sort .container:first-child{*/
        /*padding:  0*/
    /*}*/


    /*#work-section-sort .container:last-child{*/
        /*padding: 0;*/

    /*}*/


    /*#work-section-sort .container .title{*/
        /*font-size: 20px;*/
    /*}*/

    /*#work-section-sort .container p{*/
        /*font-size: 16px!important;*/
        /*padding: 0;*/
        /*text-align: justify;*/
    /*}*/

    /*#process .fun-txt .col-md-2{*/
        /*margin: 0!important;*/
    /*}*/

    /*#join-us-section h3{*/
        /*margin: 0;*/
    /*}*/

    /*.h-logo{*/
        /*width: 148px;*/
    /*}*/



    /*/////Custom nav  active class////!**/

    /*.custom-nav ul li a, .custom-nav ul li p {*/
        /*font-size: 11px!important;*/
    /*}*/


    /*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {*/
        /*color: #901518 !important;*/
        /*font-size: 11px !important;*/
        /*background: beige;*/
    /*}*/


    /*.nav>li>a {*/
        /*position: relative;*/
        /*display: block;*/
        /*padding: 10px 10px;*/
    /*}*/

    /*.custom-nav {*/
        /*height: 51px;*/
        /*opacity: 1;*/
    /*}*/

    /*nav.navbar.shrink a {*/
        /*line-height: 30px!important;*/
        /*transition: all .4s ease;*/
    /*}*/

    /*!*//*Ends here//!*/

    /*.title{*/
        /*font-size: 30px;*/
        /*margin: 10px 0;*/
    /*}*/

    /*h1{*/
        /*font-size: 25px;*/
        /*text-align: center;*/
    /*}*/

    /*h2{*/
        /*font-size: 25px;*/
    /*}*/

    /*h4{*/
        /*font-size: 15px;*/
    /*}*/

    /*h3{*/
        /*font-size: 20px;*/
    /*}*/

    /*#services .container .row:last-child{*/
        /*margin-top: 10px;*/
    /*}*/

    /*#footer-section h4{*/
        /*font-size: 21px;*/
        /*margin: 10px 0;*/
    /*}*/

    /*.custom-nav ul li a, .custom-nav ul li p{*/
        /*line-height: 30px;*/
    /*}*/

    /*p{*/
        /*font-size: 16px!important;*/
        /*color: #565a5c;*/
    /*}*/


    /*.about-us-text p{*/
        /*word-spacing: 0;*/
        /*line-height: 28px;*/
        /*text-align: justify;*/
        /*font-size: 16px !Important;*/
        /*margin-top: 20px;*/
        /*padding: 0;*/
    /*}*/

    /*#services .container p {*/
        /*line-height: 28px;*/
        /*font-size: 16px !important;*/
        /*text-align: justify;*/
    /*}*/


    /*#team-section figure figcaption{*/
        /*transform: rotate(0deg);*/
        /*margin-top: 20px!important;*/
        /*text-align: center;*/
    /*}*/

    /*#team-section h2{*/
        /*font-size: 20px;*/
    /*}*/

    /*#process .row{*/
        /*margin-top: 0!important;*/
    /*}*/

    /*#process h2{*/
        /*font-size: 20px;*/
    /*}*/

    /*.count{*/
        /*margin-bottom: 30px;*/
        /*font-size: 20px;*/
    /*}*/


    /*#Event-calendar h4{*/
        /*margin-left: 30px;*/
    /*}*/

    /*.join-us-bg  h3{*/
        /*font-size: 16px;*/
    /*}*/

    /*.join-us-bg  .title{*/
        /*font-size: 20px;*/
    /*}*/

    /*.service-caption{*/
        /*margin-bottom: 30px;*/
    /*}*/

    /*#contact-section .container{*/
        /*padding-top: 20px!important;*/
    /*}*/

    /*#contact-section .container .title{*/
        /*font-size: 20px;*/
    /*}*/

    /*#Event-calendar .row:last-child{*/
        /*margin-top: 20px!important;*/
    /*}*/

    /*#testi-section p{*/
        /*font-size: 14px;*/
    /*}*/
    /**/

    /*#process{*/
        /*color: #fff!important;*/
    /*}*/


    /*#process .container .fun-txt .fun-title{*/
        /*font-size: 20px!important;*/
        /*text-align: center;*/
        /*margin-top: 20px;*/
        /*color: #fff!important;*/
    /*}*/






/*}*/


img::before{
    background: rgba(17, 17, 17, 0.38);

}


.fun-txt span{
    border-right: 2px solid #b21c21;
}

.fun-txt span:last-child{
    border-right: none;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////*/

                                        /*Mobile Device*/

/*///////////////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (max-width: 768px){

    /*////////////Section One /////////////*/

    #section1 .mobile-bg{
        background: url('../img/howm%20pg-1.jpg') center center  no-repeat;
        height: 90vh;
        background-size: contain;
        width: 100%;
        text-align: left;
    }


    .mobile-bg-txt{
        padding: 110px 30px;
    }


    #section1 .mobile-bg-txt p{
        text-align: left;
        padding: 0 10px;
        font-size: 25px!important;
    }


    /*////////////Section Two /////////////*/

    #section2 .mobile-bg{
        background: url('../img/section2.jpg') center center  no-repeat;
        height: 600px;
        background-size: cover;
        width: 100%;
        text-align: left;
    }

    #section2 .mobile-bg-txt{
        padding: 60px 30px;
    }


    #section2 .mobile-bg-txt p{
        text-align: right;
        padding: 0 10px;
        font-size: 25px!important;

    }


    /*////////////Section Three /////////////*/

    #section3 .mobile-bg{
        background: url('../img/section3.jpg') center center  no-repeat;
        height: 900px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #section3 .mobile-bg p{
        font-size: 18px;
        padding: 0 20px;
    }

    #section3 .mobile-bg-txt{
        padding: 30px 0;
    }





    /*////////////Section Four /////////////*/

    #section4 .mobile-bg{
        background: url('../img/section4.jpg') center center  no-repeat;
        height: 900px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #section4 .mobile-bg p{
        font-size: 18px;
    }

    #section4 .mobile-bg-txt{
        padding: 40px 10px;

    }


    #section4 .mobile-bg-txt p{
        text-align: center;
        padding: 10px;
        font-size: 18px!important;

    }



    /*////////////Section Five /////////////*/

    #section5 .mobile-bg{
        background: url('../img/section5.jpg') center center  no-repeat;
        height: 850px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #section5 .mobile-bg p{
        font-size: 18px;
    }

    #section5 .mobile-bg-txt{
        padding: 60px 0;
    }


    #section5 .mobile-bg-txt p{
        text-align: center;
        padding: 10px;
        font-size: 18px!important;

    }



    /*////////////Section Six /////////////*/

    #section6 .mobile-bg{
        background-color: #d8e5ef;
        height: 800px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }

    #section6 .mobile-bg p{
        font-size: 18px;
    }


    #section6 .mobile-bg-txt p{
        text-align: center;
        padding: 10px;
        font-size: 16px!important;

    }


    #section6 .mobile-bg .team-member > figcaption{
        transform: rotate(-30deg);
        margin-top: 2px!important;
        right: -19px;
        position: relative;
        font-size: 13px!important;
    }



    /*////////////Section Seven /////////////*/

    #section7 .mobile-bg{
        background: url('../img/section6.jpg') center center  no-repeat;
        height: 900px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }


    #section7 .mobile-bg-txt p{
        text-align: center;
        padding: 10px;
        font-size: 16px!important;

    }

    .txt-format{
        word-spacing: 3px;
        line-height: 1.6em;
        text-align: justify;
    }

    #section7 .mobile-bg .count {
        font-size: 25px;
    }

    #section7 .mobile-bg .count p{
        font-size: 10px;
    }



    /*////////////Section Eight /////////////*/

    #section8 .mobile-bg{
        background: url('../img/section7.jpg') center center  no-repeat;
        height: 700px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }


    #section8 .mobile-bg-txt p{
        text-align: center;
        padding: 10px;
        font-size: 16px!important;

    }

    #section8 .testi-comment{
        height: 100%;
        overflow: hidden;
    }

    #section8 .testi-comment img{
        margin: 20px 0;
    }


    #section8 .testi-comment p{
        padding: 0 20px;
    }



    /*////////////Section Nine /////////////*/

    #section9 .mobile-bg{
        background-color: #fff;
        height: 800px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;

    }


    #section9 .mobile-bg-txt{
        text-align: left;
        padding: 0;
        font-size: 16px!important;
        margin-top: 40px;

    }


    #section9 hr{
        border-color: #fc0606;
    }



    /*////////////Section Ten /////////////*/

    #section10 .mobile-bg{
        background: url('../img/section9.jpg') center no-repeat;
        height: 600px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: 4%;
        padding-right: 4%;

    }


    #section10 .mobile-bg-txt{
        text-align: left;
        padding: 0;
        font-size: 16px!important;
        margin-top: 40px;

    }

    #section10 h1{
        padding: 100px 0;
    }

    #section10 .job-btn-mobile{
        width: 250px;
        height: 60px;
        background: #a99072;
        font-size: 18px;
        color: #ffffff;
        border: 2px solid #a99072;
        transition: all .4s ease-out;
    }


    /*////////////Section Eleven /////////////*/

    #section11 .mobile-bg{
        background-color: #fff;
        height: 900px;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;

    }


    #section11 .mobile-bg-txt{
        text-align: left;
        padding: 0;
        font-size: 16px!important;
        margin-top: 40px;

    }



   #section12 .footer-logo-bg img{
        width: 250px;
    }


    #section12 .mobile-bg-txt {
        padding: 40px 0;
    }










    .join-us-bg h3 {
        padding: 10px;
    }







}


@media screen and  (max-width: 1200px) and (min-width: 768px)  {
    .custom-nav ul li a, .custom-nav ul li p{
        line-height: 31px!important;
        font-size: 12px!important;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        color: #901518 !important;
        font-size: 12px !important;
        background: beige;
    }

    .nav>li>a {
        padding: 10px 10px!important;
    }

    .h-logo {
        width: 140px;
    }
}






@media screen and (min-width: 768px)  {

    /*.owl-wrapper{*/
        /*width: 100%!important;*/
    /*}*/

    .owl-wrapper-outer .owl-wrapper > .owl-item{
        /*width: 100%!important;*/
    }

    .owl-item{
        width: 260px!important;
    }

}
.m-cover{
    background: url('../img/slider1.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
        justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
        align-items: center;
}


.thank-you-text{
    font-size: 4vw;
    background: rgba(0, 0, 0, 0.41);
    padding: 30px 100px;
    text-align: center;
    color: #fff;
}


@media screen and (max-width: 768px){
    .thank-you-text{
        font-size: 4vw;
        background: rgba(0, 0, 0, 0.41);
        padding: 2% 23%;
        text-align: center;
        color: #fff;
    }

}




